/* HTML5 tags */
header,footer,section,nav,article
{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}

/* Re-init style of main elements */
html,body
{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Verdana,sans-serif;
}

/* Header */
header
{
	height: 80px;
	width: 100%;
	font-size: 16px;
	background-color: #bf7200;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 999;
	box-shadow: 0 -45px 30px 0 #000 inset;
}

/* Body of the webpage */

body > article > section
{
	width: 80%;
	margin: auto;
	padding: 50px;
	padding-top: 90px;
	position: relative;
	z-index: 100;
}

body > article > section h1
{
	font-family: Georgia,serif;
    font-size: 1.9em;
    font-weight: normal;
}

/* Buttons */

.button
{
	padding: 5px;
	text-decoration: none;
	color: #363636;
	font-weight: bold;
	border: 1px solid #7d7d7d;
	background-color: #e3e3e3;
	background-image: -moz-linear-gradient(top,#fff 0%, #e3e3e3 100%);
	background-image: -webkit-linear-gradient(top,#fff 0%, #e3e3e3 100%);
	background-image: -o-linear-gradient(top,#fff 0%, #e3e3e3 100%);
	background-image: linear-gradient(top,#fff 0%, #e3e3e3 100%); 
	border-radius: 5px;
	cursor: pointer;
}

.button:hover
{
	background-color: #fff;
	text-decoration: none;
	color: #000;
	background-image: -moz-linear-gradient(top,#e3e3e3 0%, #fff 100%);
	background-image: -webkit-linear-gradient(top,#e3e3e3 0%, #fff 100%);
	background-image: -o-linear-gradient(top,#e3e3e3 0%, #fff 100%);
	background-image: linear-gradient(top,#e3e3e3 0%, #fff 100%);   
}

/* Others */

.center{text-align: center;}